<div class="container chat">
    <form id="enviarMsj">
        <div class="form-header">
            <h2>Escriba en el chat: </h2>
        </div>

        <label for="mail">Escriba su mail:</label>
        <input id="mail" type="text" class="form-control" name="mail" placeholder="Mail" required>

        <div id="mensaje">
        <label for="msj">Mensaje:</label>
        <input id="msj" type="text" class="form-control" name="msj" placeholder="mensaje..." required>
        <button type="submit">Enviar</button>
        </div>
    </form>
</div>