<thead>
    
</thead>
<tbody>
    {{#each msjs}}
        <div class="mensajeRecibido">
            <p id="mensajeMail"><strong>{{this.mail}} : </strong></p>
            <p id="mensajeFecyHora"> {{this.fecyHora}} </p>
            <p id="mensajeMsj">  {{this.msj}} </p>
        </div>
    {{/each}}
</tbody>
